.logoWrapper {
  width: 200px;
  height: 200px;
  border: solid 3px #284516;
  border-radius: 50%;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  background-color: #5B913B;
  color: #17290c;
  cursor: default;

  .text {
    user-select: none;
  }
}